@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&display=swap');
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.btn {
    width: fit-content;
    margin: 0 0 0 30px;
    padding: 2px;
    background-color: var(--main-bg-color);
    font-size: 15px;
    border: none;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.btn:hover {
    border: 2px solid white;
    font-size: 18px;
}

.product {
    text-align: start;
    margin: auto auto auto;
    height: 355px;
    color: rgb(19, 2, 2);
    cursor: pointer;
}

.product:hover {
    height: 400px;
    font-weight: bolder;
}

.product1 {
    text-align: center;
    margin-left: 66px;
    height: 100px;
    cursor: pointer;
    width: 117px;
    font-family: 'Ibarra Real Nova', serif;
}

.product1:hover {
    color: blue;
    font-weight: bolder;
}

#forimage1 {
    width: 118px;
    height: 101px;
}

#forimage {
    width: 200px;
    height: 250px;
}

h1 {
    text-align: center;
    background-color: #2e101036;
}

select {
    border: 0;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Ibarra Real Nova', serif;
}

select:hover {
    color: #2874f0;
    font-weight: 500;
}

.cart {
    margin-left: 66px;
    cursor: pointer;
}
p{
    font-style: normal;
}
.icons{
    width: 7px;
    background-color: antiquewhite;
}